* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    height: 100vh;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 8%);
    padding: 2rem 0;
}
img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1em;
}
h1 {
    margin-bottom: 0.75em;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
}

/* .profile-details {
    width: 90%;
} */

.subtitle {
    font-weight: bold;
    color: hsl(75, 94%, 57%);
    margin-bottom: 1em;
    font-size: 0.9rem;
}

.caption {
    margin-bottom: 1em;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
}

.container {
    display: flex;
    margin: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    width: 95%;
    display: flex;
    background: hsl(0, 0%, 12%);
    padding: 2rem 1.5em;
    border-radius: 6px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 80%;
    min-width: 315px;
    background: hsl(0, 0%, 20%);
    padding: 1em;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    text-align: center;
    margin: 0.8em;
    border-radius: 6px;
    font-size: 0.85rem;
}
.box p {
    color: hsl(0, 0%, 100%);
    margin: 0;
}

.box:active {
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}
.box:hover {
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    cursor: pointer;
}
